<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats <%= to %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/d4dcb4c71a.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="icon" href="/favicon.png">
    <link rel="stylesheet" href="/three-dots.min.css">
    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
    <link rel="stylesheet" href="/chat1.css">
</head>
<body style="overflow: hidden;">
    <div class="left-navbar">
        <a href="/"><i class="fa fa-2x fa-home" aria-hidden="true"></i></a>
        <i class="fa fa-2x fa-user-circle-o" aria-hidden="true"></i>
        <i class="fa fa-2x fa-cog" aria-hidden="true"></i>
        <a class="sign-out-holder" href="/logout"><i class="fa fa-2x fa-sign-out" aria-hidden="true"></i></a>
    </div>
    <div class="users">
        <h3>Conversations</h3>
        <input placeholder="Search User" class="search-user" type="search">

        <% users.forEach(function(name){%>
            <% if(username!=name.username && name.username!=to){%>
                <a class="user <%= name.username %>" href="/chats/<%=name.username%>"> 
                    <img class="pfp" src="<%= name.pfp %>">
                    <h4><%= name.username %></h4>
                </a>
        <% } %>
        <%})%>

    </div>
    <div class="main">
        <div class="top-bar">
            <img class="pfp" src="<%= toPfp %>">
            <h3><%= to %></h3>
        </div>
        <div onscroll="scrolled()" class="messages">

            <% messages.slice().reverse().forEach(function(message){ %>
                <% if(message.from==username){var colorClass = "from-self"}else{var colorClass = "from-other-user"} %>
                <% if(message.type==null){%>
                    <div id="<%= message.id %>" class="message <%= colorClass %>">
                        <%= message.message %>
                    </div>
                <%} else if(message.type=="image"){ %>
                    <div id="<%= message.id %>"  class="message image">
                        <img class="media-<%= colorClass %>" src="<%= message.message %>">
                    </div>
                <% }else{ %>
                    <div id="<%= message.id %>" class="message video">
                        <video class="media-<%= colorClass %>" controls src="<%= message.message %>"></video>
                    </div>
                <% } %>
            <%});%>

        </div>
        <div class="input-bar-holder">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <input oninput="typing()" id="msg" placeholder="Message User" type="text">
            <i class="fa fa-lg fa-smile-o" aria-hidden="true"></i>
            <div class="send-holder">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <div id="from" class="<%=from%>"></div>
    <div id="to" class="<%=to%>"></div>
    <div id="username" class="<%=username%>"></div>
    <script src="/newchat.js"></script>
</body>
</html>