<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats <%= to %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/d4dcb4c71a.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="icon" href="/favicon.png">
    <link rel="stylesheet" href="/three-dots.min.css">
    <!-- <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script> -->
    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
    <link rel="stylesheet" href="/chats.css">
    <link rel="stylesheet" href="/loading-bar.css">
</head>
<body id="drop_zone" ondrop="dropHandler(event)" ondragover="dragOverHandler(event)">
    <div class="body-wrapper">
    <div class="left-navbar">
        <a href="/"><i class="fa fa-2x fa-home" aria-hidden="true"></i></a>
        <a href="/about" class="fa fa-2x fa-info" aria-hidden="true"></a>
        <i class="fa fa-2x fa-user-circle-o" aria-hidden="true"></i>
        <i class="fa fa-2x fa-cog" aria-hidden="true"></i>
        <a class="sign-out-holder" href="/logout"><i class="fa fa-2x fa-sign-out" aria-hidden="true"></i></a>
    </div>
    <div class="users">
            <h3>Conversations</h3>
            <input placeholder="Search User" class="search-user" type="search">
            <div class="users-inner">
                <% users.forEach(function(name){%>
                    <% if(username!=name.username && name.username!=to){%>
                        <div onclick="loadDynamic(this)" class="user <%= name.username %>" href="/chats/<%=name.username%>"> 
                            <img class="pfp" src="<%= name.pfp %>">
                            <h5><%= name.username %></h5>
                            <% if(name.unseen){%>
                                <div class="unseen">
                                    <%= name.unseen %>
                                </div>
                            <% } %>
                        </div>
                <% } %>
                <%})%>
            </div>

            <div class="user-self"> 
                <h4><%= username %></h4>
                <img class="pfp" src="<%= pfp %>">
            </div>

    </div>
    <div class="main">
        <div class="top-bar">
            <img class="pfp" src="<%= toPfp %>">
            <h3><%= to %></h3>
            <i onclick="call()" id="call" class="fa fa-2x fa-phone-square"></i>
        </div>
        <div class="gradient"></div>
        <div class="video-grid">

        </div>
        <div class="messages">

            <% messages.slice().reverse().forEach(function(message){ %>
                <% if(message.from==username){var colorClass = "from-self"}else{var colorClass = "from-other-user"}%>
                <% if(message.from==username && message.seen){var seen = "seen"}else{var seen = ""}%>
                <% if(message.type==null){%>
                    
                    <% var afterExtracting = message.message; %>
                    <% function urlify(text){ %>
                    <% var urlRegex = /(https?:\/\/[^\s]+)/g; %>
                    <%  return text.replace(urlRegex, function(url) { %>
                    <% return '<a href="' + url + '">' + url + '</a>'; %>
                    <% }) %>
                    <%  } %>
                    <% afterExtracting = urlify(afterExtracting); %>

                    <div id="<%= message.id %>" class="message <%= colorClass %> <%= seen %>">
                        <%- afterExtracting %>
                    </div>
                <%} else if(message.type=="image"){ %>
                    <div id="<%= message.id %>"  class="message image <%= seen %>">
                        <img class="media-<%= colorClass %>" src="<%= message.message %>">
                    </div>
                <% }else if(message.type=="audio"){ %>
                    <div id="message.id" class="message audio <%= seen %>">
                        <audio class="audio-<%= colorClass %>" controls src="<%= message.message %>"></audio>
                    </div>
                <% }else{ %>
                    <div id="<%= message.id %>" class="message video <%= seen %>">
                        <video class="media-<%= colorClass %>" controls src="<%= message.message %>"></video>
                    </div>
                <% } %>
            <%});%>
        </div>
        <div class="input-bar-holder">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <input type="file" hidden class="fileUpload">
            <textarea onkeypress="typing()" oninput="auto_grow(this)" id="msg" placeholder="Message @<%= to %>" type="text"></textarea>
            <div class="gif-emoji-button-holder">
                <!-- <i class="fa fa-2x fa-smile-o" aria-hidden="true"></i> -->
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"preserveAspectRatio="xMidYMid meet"><g id="gif-svg-change-fill-color" transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" stroke="none"><path d="M2270 4705 c-242 -35 -462 -103 -668 -205 -654 -324 -1091 -938 -1187 -1664 -19 -150 -19 -402 0 -553 128 -987 903 -1753 1895 -1873 125 -15 402 -12 536 5 965 127 1725 883 1859 1850 22 159 22 431 0 590 -133 956 -874 1705 -1827 1845 -156 23 -469 26 -608 5z m569 -171 c659 -96 1221 -505 1512 -1099 339 -693 246 -1526 -238 -2125 -82 -102 -259 -272 -363 -349 -268 -199 -577 -326 -911 -375 -139 -21 -404 -21 -550 0 -719 100 -1330 587 -1593 1271 -40 102 -77 239 -101 370 -22 118 -31 422 -16 549 51 436 229 824 523 1138 315 338 715 549 1173 620 127 20 431 20 564 0z"/><path d="M1550 3205 c-225 -51 -414 -244 -482 -492 -31 -113 -31 -373 0 -486 48 -176 172 -343 307 -414 123 -64 190 -78 385 -78 148 1 188 4 260 23 85 22 227 84 281 123 l29 20 0 277 c0 152 -4 282 -8 288 -20 31 -55 34 -342 34 l-291 0 -24 -25 c-30 -30 -32 -64 -4 -99 l20 -26 240 0 239 0 0 -180 0 -180 -61 -31 c-132 -66 -322 -93 -467 -66 -112 22 -198 66 -265 136 -105 110 -149 240 -149 441 1 372 187 591 502 591 215 0 364 -97 421 -271 28 -85 51 -110 101 -110 44 0 88 35 88 70 0 37 -50 173 -82 222 -67 105 -183 188 -315 224 -82 23 -300 28 -383 9z"/><path d="M2631 3174 c-21 -26 -21 -34 -21 -706 l0 -679 25 -24 c33 -34 87 -34 120 0 l25 24 0 679 c0 672 0 680 -21 706 -16 21 -29 26 -64 26 -35 0 -48 -5 -64 -26z"/><path d="M3114 3178 c-12 -5 -27 -21 -33 -34 -16 -36 -16 -1323 0 -1358 22 -47 98 -56 142 -18 15 14 17 43 17 334 l0 318 399 0 c388 0 399 1 425 21 31 25 34 66 7 100 l-19 24 -406 3 -406 3 0 234 0 235 414 0 c403 0 414 1 440 21 33 26 36 79 6 109 -19 19 -33 20 -492 19 -304 0 -481 -4 -494 -11z"/></g></svg>
            </div>
            <div class="send-holder">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <div style="display: none;" class="gif-holder">
        <input autocomplete="off" placeholder="Search For GIFS" class="search_gif" type="search">
        <div class="gif-preview-holder">
            <div class="gif-box" id="gif-box1"></div>
            <div class="gif-box" id="gif-box2"></div>
        </div>
    </div>

    <div id="to" class="<%=to%>"></div>
    <div id="username" class="<%=username%>"></div>

    <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase.js"></script>
    <script type="module">
        import {Picker} from "https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js";
        const picker = new Picker();
        const style = document.createElement('style');
        style.textContent = `::-webkit-scrollbar-track{box-shadow: inset 0 0 6px rgba(0,0,0,0.3);background-color: #EAEAEA;}::-webkit-scrollbar{width: 10px;background-color: #EAEAEA;}::-webkit-scrollbar-thumb{background-color: #5bc0de;}#search{border-radius: 27px;width: 90%;background-color: rgb(202, 202, 202);transition: width 0.5s;color:#333;padding-left:15px;}#search:focus{width:100%;outline:none;}.search-wrapper{width:100%;display:flex;justify-content:center;}`;
        picker.shadowRoot.appendChild(style);
        document.body.appendChild(picker);
    </script>
    <script>
      var firebaseConfig = {
        apiKey: "AIzaSyCuWvo9j3jIFPUUI3q9BCpw_2ZDOz9UnJE",
        authDomain: "learning-data-bucket.firebaseapp.com",
        databaseURL: "https://learning-data-bucket.firebaseio.com",
        projectId: "learning-data-bucket",
        storageBucket: "learning-data-bucket.appspot.com",
        messagingSenderId: "1044574492967",
        appId: "1:1044574492967:web:1c88e6d23f3fbd1395b102",
        measurementId: "G-8ZV0F76E34"
      };
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
    </script>  
    <script>
        document.querySelector(".gradient").classList.add("gradient-animation");
        setTimeout(() => {
            document.querySelector(".gradient").classList.remove("gradient-animation");
        },2000);
    </script>
    <script defer src="/chat.js"></script>
    <script defer src="/registerServiceWorker.js"></script>
</div>
</body>
</html>