<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <meta property="og:site_name" content="sanidhyas chatting app">
    <meta property="og:description" content="A chatting web app :D">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="/assets/favicon.png">
    <link rel="stylesheet" href="/css/three-dots.min.css">
    <script src="https://kit.fontawesome.com/9f3fe80a0d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/loading-bar.css">
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <link rel="stylesheet" href="/css/home.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body  id="drop_zone" ondrop="dropHandler(event)" ondragover="dragOverHandler(event)">
    <div class="body-wrapper">
        <div class="left-navbar">
            <a href="/"><i class="fa fa-2x fa-home" aria-hidden="true"></i></a>
            <a href="/about" class="fa fa-2x fa-info" aria-hidden="true"></a>
            <i class="fa fa-2x fa-user-circle-o" aria-hidden="true"></i>
            <i  class="fa fa-2x fa-cog" aria-hidden="true"></i>
            <a onclick="unregister()" class="sign-out-holder" href="/logout"><i class="fa fa-2x fa-sign-out" aria-hidden="true"></i></a>
        </div>
        <div class="users">
            <h3>Conversations</h3>
            <input placeholder="Search User" class="search-user" type="search">
            <div class="users-inner">
                <% users.forEach(function(name){%>
                <% if(username!=name.username){%>
                    <div class="user <%= name.username %>" href="/chats/<%=name.username%>"> 
                        <img class="pfp" src="<%= name.pfp %>">
                        <h5><%= name.username %></h5>
                        <div class="unseen">
                            <% if(name.unseen){%>
                                    <%= name.unseen %>
                            <% } %>
                        </div>
                    </div>
                <% } %>
                <%})%>
            </div>
            <div class="user-self"> 
                <h4><%= username %></h4>
                <img class="pfp" src="<%= pfp %>">
            </div>
        </div>
        <div class="settings">
            <h1>Settings/Preferences</h1>
            <div class="settings-inner">
                <div>
                    <img src="<%= pfp %>" class="pfp">
                    <div onclick="changepfpclicked()" class="btn btn-outline-light btn-sm setPfpButton">change pfp</div>
                    <input id="uploadpfp" onchange="uploadPfp(this)" hidden type="file">
                    <br>
                    <br>
                    <%if(email){%>
                        <style>
                        .setEmail{
                        display: none;
                        }
                    </style>
                        <%}else{%>
                        <style>
                        .changeEmail{
                        display: none;
                    }
                        </style>
                    <%}%>
                    <input placeholder="email" value="<%= email %>" disabled class="email" type="email">
                    <div onclick="changeEmail()" class="btn btn-outline-light btn-sm changeEmail">change email</div>
                    <div onclick="confirmEmail()" class="btn btn-outline-light btn-sm setEmail">set email</div>
                    <br>
                    <br>
                    <div class="danger-buttons">
                        <a href="/logout">
                            <div class="btn btn-danger">Logout</div>
                        </a>
                        <button  class="btn btn-danger">Delete Account</button>
                    </div>
                </div>
            </div>
        </div>
        <div style="display: none;" class="gif-holder">
            <input autocomplete="off" placeholder="Search For GIFS" class="search_gif" type="search">
            <div class="gif-preview-holder">
                <div class="gif-box" id="gif-box1"></div>
                <div class="gif-box" id="gif-box2"></div>
            </div>
        </div>
    <audio class="ringtone" loop src="/assets/ringtone.mp3"></audio>
    <div class="<%= username %>" id="username"></div>
    <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase.js"></script>
    <script type="module">
        import {Picker} from "https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js";
        const picker = new Picker();
        const style = document.createElement('style');
        style.textContent = `::-webkit-scrollbar-track{box-shadow: inset 0 0 6px rgba(0,0,0,0.3);background-color: #EAEAEA;}::-webkit-scrollbar{width: 10px;background-color: #EAEAEA;}::-webkit-scrollbar-thumb{background-color: #5bc0de;}#search{border-radius: 6px;width: 90%;background-color: rgb(202, 202, 202);transition: width 0.5s;color:#333;padding-left:15px;}#search:focus{outline:none;}.search-wrapper{width:100%;display:flex;justify-content:center;}`;
        picker.shadowRoot.appendChild(style);
        document.body.appendChild(picker);
    </script>
    <script>
      var firebaseConfig = {
        apiKey: "AIzaSyCuWvo9j3jIFPUUI3q9BCpw_2ZDOz9UnJE",
        authDomain: "learning-data-bucket.firebaseapp.com",
        databaseURL: "https://learning-data-bucket.firebaseio.com",
        projectId: "learning-data-bucket",
        storageBucket: "learning-data-bucket.appspot.com",
        messagingSenderId: "1044574492967",
        appId: "1:1044574492967:web:1c88e6d23f3fbd1395b102",
        measurementId: "G-8ZV0F76E34"
      };
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
    </script>  
    <script defer src="/js/home.js"></script>
    <script defer src="/js/registerServiceWorker.js"></script>
    <script defer src="/js/call.js"></script>
    </div>
</body>
</html>